html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #03071e;
}
#main-body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #264653;
}





/* global attributes */
a {
    color: rgba(255,255,255,.5);
}
input {
    margin: 5px;
    padding: 5px;
}
button {
    margin: 5px;
    padding: 5px;
}
h1 {
    width: 80%;
    margin: 100px auto 100px auto;
    color: white;
    text-align: center;
}
.personal-info {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: white;
    padding-bottom: 50px;
}
.ender {
    margin-bottom: 300px;
}
canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid white;
    background-color: #222;
}
.std-wrapper {
    display: flex;
    justify-content: center;
}





/* header-related */
.header-wrapper {
    width: 80%;
    margin: 0 auto;
}
.header-wrapper img {
    float: left;
    width: 83px; 
    height: 46px;
} 
header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: #2a9d8f;
    z-index: 3;
}
/*clearfix hack*/
/*
header::after {
    content: "";
    display: table;
    clear: both;
}
*/
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    float: left;
    /*display: inline-block;*/
    text-align: center;
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}
nav a:hover {
    background: #55d6dd;
    transition: all ease-in-out 250ms;
}





/* home section */
#score {
    display: block;
    text-align: center;
    color: white;
}





/* projects section */
.projects {
    display: table;
    border: 1px solid white;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto 200px auto;
    background-color: #222;
    table-layout: fixed;
    color: white;
    text-align: center;
    font-size: 15px;
}
.projects .preview-row {
    display: table-row;
    border: 1px solid white;
}
.projects .preview-row .preview-cell {
    display: table-cell;
    border: 1px solid white;
    padding: 10px;
}
.projects .preview-row .preview-cell .preview-text {
    border-radius: 10px;
    padding: 5px;
}
.projects .preview-row .preview-cell video, .projects .preview-row .preview-cell img {
    width: 200px;
    height: 200px;
    transition: all ease-in-out 250ms;
}
.projects .preview-row .preview-cell video:hover, .projects .preview-row .preview-cell img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 250ms;
}





/* examples section */
.math-headings {
    color: white;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.math-descriptions {
    color: white;
    text-align: center;
    margin: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.math-descriptions span {
    visibility: hidden;
    position: absolute;
    top: -70px;
    width: 200px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    padding: 3px;
    margin-left: -100px;
    transition: all ease-in-out 250ms;
    opacity: 0;
    transition: opacity 1s;
}
.math-descriptions:hover span {
    visibility: visible;
    transition: all ease-in-out 250ms;
    opacity: 1;
}
.math-descriptions span::after { /*this creates the arrow effect*/
    position: absolute;
    top: 100%;
    left: 35%;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


/*mandlebrot set*/
#mandlebrot-canvas {
    border: 1px solid black;
}


/* raycasting */
#raycasting-canvas {
    background-color: black;
}
#slider-value {
    padding: 10px;
}





/* footer */
footer {
    position: fixed;
    bottom: 10px;
    width: 90%;
}
footer img {
    float: right;
    border-radius: 5px;
    margin-right: 25px;
    transition: all ease-in-out 250ms;
}
footer a img:hover {
    transform: scale(1.5);
    transition: all ease-in-out 250ms;
}


