
/*container*/
h1,h3{
	font-family: "Arial Black", Gadget, sans-seri;
	font-family: Homemade Apple;
	color: white;
}

h3 a:link{
	color: #0000FF;
}

h3 a:link:hover{
	color: #0066FF;
}

h3 a:visited{
	color: #660066;
}

h3 a:visited:hover{
	color: #993399;
}

/*background*/
body{
	background-color: pink;
	float: right;
	margin-right: 100px;
	background: url("../imgs/IMG_0432.JPG");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.background:before{
	
	opacity: .7;
}

/*container*/
body div.container{
	width: 60%;
	margin-top: 200px;
	height: 100%;
	background-color: rgba(128, 128, 128, .5);
	padding: 20px;
	border-radius: 30px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	transition: 1.5s ease;
	/*border-width: 4px;*/
	/*border-style: solid;/*need this to use border-width, color, etc*/
	/*border-color: blue;
	/*box-shadow: 8px 8px 8px #444444;/*hshift, vshift, shadow length, color of shadow*/
}

/*
#face{
	width: 100px;
	height: 100px;
	border-radius: 200px;
}
*/

/*text in container*/
body div.container div.header{
	text-align: center;
}
/*
header{
	height: 80%;
}
/*
main p{
	text-align: center;
}
*/

/*Explore.*/
body div.container button{
	background-color: #33CC33;
	border: none;
	font-size: 20px;
	color: white;
	padding: 5px;
	transition-duration: .3s;
	font-family: "Courier New", Courier, monospace;
	/*border-style: double;
	border-radius: 10px;
	/*border-color: black;*/
}

body div.container button:hover{
	background-color: #66FF66;
	color: #FF66FF;
	border-width: 5px;
}

body div.container div.button{
 	text-align: center;
}


/*top menu*/
body div.top-menu{
	background-color: rgba(128, 128, 128, .5);
	margin-top: 10px;
	white-space: nowrap;
	/*overflow: auto;*/

}

body div.top-menu a{
	background-color: rgba(128, 128, 128, .5);
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-family: 'Lobster', cursive;
}

body div.top-menu a:hover{
	background-color: rgba(200, 200, 200, .5);
	color: white;
}

body div.top-menu input{
	font-family: 'Lobster', cursive;
	padding: none;
	float: right;
	font-size: 13px;
	margin-right: 10px;
	margin-top: 10px;
}
/*in future add media query to
adjust to mobile and tablets*/