body{
	font-family: serif;
	background-image: linear-gradient(to bottom right, rgba(200, 200, 200, .35), rgba(200, 200, 200, 1)),
url('IMG_0476.JPG');
	background-repeat: no-repeat;
	background-position: center;
}

/*top menu*/
body div.top-menu{
	background-color: rgba(128, 128, 128, .5);
	margin-top: 18px;
	margin-right: 74px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	/*white-space: nowrap;*/
	/*overflow: auto;*/

}

body div.top-menu a{
	background-color: rgba(128, 128, 128, .5);
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-family: 'Lobster', cursive;
}

body div.top-menu a:hover{
	background-color: rgba(200, 200, 200, .5);
	color: white;
}


/*header of my story*/
body header h1{
	text-align: center;
	background-color: rgba(200, 200, 200, .9);
	overflow: auto;
	width: 20%;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	border-style: dashed;
	border-color: rgba(128, 128, 128, .9);
	border-width: 5px;
	border-radius: 30px;
	padding: 10px;
	/*white-space: nowrap;*/
}


/*img*/
figure{
	position: -webkit-sticky;
	position: sticky;
	top: 25%;
	float: left;
	margin-top: 100px;
	margin-left: 50px;
	text-align: center;
	background-color: rgba(200, 200, 200, .9);
	padding: 10px;
	border-style: dashed;
	border-color: rgba(128, 128, 128, .9);
	border-width: 5px;
	border-radius: 30px;

}

#profile_pic{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

/*description of myself*/
body main{
	background-color: rgba(200, 200, 200, .9);
	text-indent: 2em;
	text-overflow: auto;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	padding: 10px;
	border-style: dashed;
	border-color: rgba(128, 128, 128, .9);
	border-width: 5px;
	border-radius: 30px;
}

body div.resource{
	background-color: rgba(200, 200, 200, .9);
	border-style: dashed;
	border-color: rgba(128, 128, 128, .9);
	border-width: 5px;
	border-radius: 30px;
	text-align: center;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

body div.resource a{
	padding: 10px;
	display: inline-block;
}